/* -------------------- Быстрый обзор -------------------- */
.main-overview-container {
	gap: 20px;
}

.main-overview-container > ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 40px;
	padding: 0;
	list-style: none;
}

.main-overview-container > ul > li {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: calc((100% - 60px) / 2);
	padding: 10px;
	border: 1px solid var(--border);
	border-radius: var(--radius-md);
	background: var(--glass);
	transition: var(--transition);
	cursor: pointer;
	aspect-ratio: 1;
}

.main-overview-container > ul > li:hover {
	background-color: #fff;
	transform: scale(1.02);
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.main-overview-container > ul > li svg {
	width: 30px;
	height: 30px;
}

.main-overview-container > ul > li h4 {
	margin: 15px 0 0;
	color: var(--muted);
}

.main-overview-container > ul > li p {
	display: flex;
	margin: 0;
	font-size: 20px;
	font-weight: 700;
	color: var(--text);
}

.main-overview-container > div {
	display: flex;
	width: 100%;
	padding-left: 5px;
}

.main-overview-container > div svg {
	width: 30px;
	height: 30px;
}

.main-overview-container > div p {
	display: flex;
	align-self: flex-end;
	margin: 0 0 0 10px;
	font-size: 20px;
	font-weight: 700;
	color: var(--text);
}

.main-overview-container > div p span {
	margin-left: 10px;
	color: var(--accent);
}
