/* -------------------- Шапка -------------------- */
.header {
	position: fixed;
	top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: 80px;
	border-radius: var(--radius-md);
	z-index: 1000;
}

.header-liquid-fill {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 78px;
	padding: 0 20px;
	border: 1px solid var(--border);
	border-radius: var(--radius-lg);
	background: var(--glass);
	box-shadow: var(--shadow);
	backdrop-filter: blur(4px) brightness(1.05);
	-webkit-backdrop-filter: blur(4px) brightness(1.05);
}

.header-logo {
	font-size: 36px;
	font-weight: 700;
	color: var(--text);
	cursor: pointer;
	transition: var(--transition);
}

.header-logo:hover {
	letter-spacing: 2px;
}

/* -------------------- Фолбэк для backdrop-filter -------------------- */
@supports not (hanging-punctuation: first) {
	.header-liquid-fill {
		backdrop-filter: url(#displacementFilter) blur(2px);
		-webkit-backdrop-filter: url(#displacementFilter) blur(2px);
	}
}
