/* -------------------- Базовые переменные темы -------------------- */
:root {
	--bg: #d4d4d6;
	--text: #262626;
	--muted: #989ba1;
	--accent: #285e59;
	--glass: rgba(255, 255, 255, 0.12);
	--border: rgba(255, 255, 255, 0.2);
	--border-soft: rgba(116, 116, 116, 0.2);
	--shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	--transition: all 0.3s ease;
	--radius-lg: 24px;
	--radius-md: 16px;
}

/* -------------------- Базовая разметка -------------------- */
html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 120px 0 20px;
	overflow-y: scroll;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	background-color: var(--bg);
}

/* -------------------- Анимации -------------------- */
@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	20%,
	60% {
		transform: translateX(-5px);
	}
	40%,
	80% {
		transform: translateX(5px);
	}
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
		box-shadow: var(--shadow);
	}
	50% {
		transform: scale(1.02);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
	}
}

@keyframes pulseColor {
	0%,
	100% {
		background-color: var(--glass);
	}
	50% {
		background-color: #fff;
	}
}
